.example-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 25px;
}

.example-header-image {
  background-image: url("src/assets/img/Hilton-Logo.jpg");
  background-size: cover;
  background-position: center;


}
