.header{
  background-image: url("https://image.shutterstock.com/image-photo/amazing-maldives-island-panorama-beautiful-260nw-1104848978.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  padding: 70px 0;
}

h1{
  text-align: center;

}
