.header{
  background-image: url("src/assets/img/Header-Img.webp");
  background-repeat: no-repeat;
  background-size: cover ;
  padding: 70px 0;
  background-position: center;
}

h1{
  text-align: center;

}
